body, html {
    font-family: sans-serif !important;
    background-color: white !important;
    color: black !important;
    width: 100vw !important;
    height: 100vh !important;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
}