body, html {
    font-family: sans-serif !important;
    background-color: white !important;
    color: black !important;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
}

p {
    margin: 0;
}

main {
    height: calc(100% - 3.4rem);
}