<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>KAPTAIN'S STASH WEBSITE {%- if page.title -%}: {{ page.title | upcase }}{%- endif -%}</title>

    <!-- BOOTSTRAP -->
    <link href="/assets/css/bootstrap/bootstrap.css" rel="stylesheet">
    <script rel="stylesheet" src="/assets/js/bootstrap/bootstrap.bundle.js"></script>

    <!-- GENERAL STYLE -->
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
{% unless page.no-menu %}
    {% include navbar.html %}
{% endunless %}
<main class="container h-100">{{ content }}</main>
</body>
</html>
