<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAPTAIN'S STASH WEBSITE</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
</head>

<body>
    <nav>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <img src="../favicon.ico" alt="KAPTAIN'S FACE" width="30" height="24"
                    class="d-inline-block align-text-top">
                <a class="navbar-brand" href="/">KAPTAIN'S STASH SITE</a>
            </div>
        </nav>
    </nav>
    <main class="container">
        {{ content }}
    </main>
</body>

</html>